input[type="text"] {
  border: none;
  border-radius: 10px;
  height: 35px;
  padding: 0 18px;
}

.todo__wrapper {
  max-width: 1200px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

.todo__top__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 40px;
  background-color: #dddddd;
  border-radius: 10px;
}

.todo__write__wrapper {
  display: flex;
}

.todo__write__info > span {
  font-weight: bold;
  margin-right: 10px;
}

.todo__write__wrapper .todo__write__info:first-child {
  margin-right: 20px;
}

.write__btn--add {
  padding: 10px 40px;
  border-radius: 8px;
  background-color: teal;
  color: #ffffff;
}

.list__title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.list__card__items {
  padding: 20px;
  border: 3px solid teal;
  width: 300px;
  height: 200px;
  border-radius: 10px;
}

.card__items__info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__items__info span {
  font-size: 20px;
  font-weight: bold;
}

.items__info__btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.items__info__btns > button {
  width: 48%;
  height: 35px;
  border-radius: 7px;
  background-color: white;
}

.items__info__btns .info__btns--del {
  border: 2px solid red;
}

.items__info__btns .info__btns--done {
  border: 2px solid teal;
}

.main {
  padding: 20px;
  height: calc(100% - 80px);
}

.todo__list__wrapper {
  height: 100%;
}

.list__card__wrapper {
  margin-bottom: 20px;
}

.items__info__words p {
  margin-top: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-height: 22px;
}

.list__item__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.list__card__items {
  width: 23%;
  margin-bottom: 20px;
}

.list__item__wrapper > .list__card__items:not(:last-child) {
  margin-right: 2%;
}
